@{
    ViewData["Title"] = "Home Page";
}
<div class="fullscreen-bg" style="background-image: url('/images/TrueorFalse.png');">
    <div class="text-overlay">
        <h1>دير بالك علينا</h1>
        <p class="subtitle">معك في كل لحظة لمساعدتك في الحصول على معلومات حقيقية وصحيحة</p>
        <p class="description">تنبيهات، وإخطارات من خطر قريب  ورصد أحوال الطرق <br> الإبلاغ عن الحوادث، الإصابات </p>
    </div>
</div>